
/**
* iki seko mas yudi
* kanggo tampilan modal
*/
.modal-dialog {}

.modal-content {
padding: 0;
}

.modal-header {
/*background-color: #337AB7;*/
/*padding: 10px 16px;*/
/*color: #fff;*/
/*border-bottom: 2px dashed #337AB7;*/
}

.modal-body {
margin: 0px 15px;
}

.form-horizontal {}

.form-group {}

.label {}

.box-body {}
